@tailwind base;
@tailwind components;
@tailwind utilities;

section.hero {
  grid-template-columns: .4fr .6fr;
}

body {
  @apply text-raisinBlack;
  scroll-behavior: smooth;
}

.menu {
  display: grid;
  /* a trick for responsive with just a few lines */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}